@model SistemaInventario.Modelos.Marca
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Marca";
}

<form method="POST" asp-action="Upsert">
    <div style="padding-left: 15%; padding-right: 15%; padding-bottom: 4rem;">
        <div class="row border-0">
            @*
                asp-validation-summary -> Controla cómo se muestran los mensajes de validación
                ModelOnly -> Muestra los mensajes de validación que se aplican a nivel de modelo
            *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>

        @if (Model.Id != 0)
        {
            // Actualizar Marca
            titulo = "Actualizar Marca";
            <input type="hidden" asp-for="Id" id="id"/>
        }

        <div class="col-12 border-bottom p-0">
            <h2 class="text-primary">@titulo</h2>
        </div>

        @* Input Nombre *@
        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Nombre</label>
                <input type="text" asp-for="Nombre" class="form-control" id="nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>

        @* Input Descripcion *@
        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Descripción</label>
                <input type="text" asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        </div>

        @* Input Estado *@
        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Estado</label>
                <select asp-for="Estado" class="form-select">
                    <option value=true>Activo</option>
                    <option value=false>Inactivo</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
        </div>
        <br />

        @* Llamar a las vistas parciales (partial views) *@
        <div>
            @if (Model.Id != 0)
            {
                <partial name="_BotonesActualizarYRegresar" model="Model.Id"></partial> @* Tiene que tener el mismo nombre del partial view previamente definido *@
            }
            else
            {
                <partial name="_BotonesCrearYRegresar"></partial> @* Tiene que tener el mismo nombre del partial view previamente definido *@
            }
        </div>
    </div>
</form>


@* Ejecutar excepciones *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.getElementById("nombre").addEventListener('change', function () {
            validarNombre();
        });

        function validarNombre() {
            var url = '@Url.Content("~/")' + "Admin/Marca/ValidarNombre";
            var id = '#id';
            var nombre = '#nombre';

            $.getJSON(url, { id: $(id).val(), nombre: $(nombre).val() }, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                        var nombre = document.getElementById("nombre");
                        swal("Error", "El nombre ya existe.", "error");
                        nombre.value = "";
                    }
                });
            });
        }
    </script>
}
